<%= form_for(@player, html: { class: 'form-horizontal' }) do |f| %>
  <% if @player.errors.any? %>
    <div class='alert alert-dismissible alert-danger'>
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :firstname, { class: 'col-sm-2 control-label' } %>
    <div class='col-sm-4'>
      <%= f.text_field :firstname, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :lastname, { class: 'col-sm-2 control-label' } %>
    <div class='col-sm-4'>
      <%= f.text_field :lastname, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :avatar, { class: 'col-sm-2 control-label' } %>
    <div class='col-sm-4'>
      <%= f.file_field :avatar %>
    </div>
  </div>
  <div class='form-group'>
    <div class='col-sm-offset-2 col-sm-10'>
      <%= f.submit(class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>