<%= form_for(@match, html: { class: 'form-horizontal' } ) do |f| %>
  <% if @match.errors.any? %>
    <div class="alert alert-dismissible alert-danger">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :match_date, { class: 'col-sm-2 control-label' } %>
    <div class='col-sm-4'>
      <%= f.date_field :match_date, :value => Time.now.strftime('%Y-%m-%d') ,class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :home_player_id, { class: 'col-sm-2 control-label' } %>
    <div class='col-sm-4'>
      <%= f.collection_select(:home_player_id, Player.all, :id, :fullname,
                            {}, class: 'form-control')%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :away_player_id, { class: 'col-sm-2 control-label' } %>
    <div class='col-sm-4'>
    <%= f.collection_select(:away_player_id, Player.all, :id, :fullname,
                            {}, class: 'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :home_player_win, 'Who is the winner?', { class: 'col-sm-2 control-label' } %>
      <div class='col-sm-4'>
        <div class='col-sm-4'>
          <%= f.label :home_player_win_true, 'Home player' %>
          <%= f.radio_button(:home_player_win, true) %>
        </div>
        <div class='col-sm-4'>
          <%= f.label :home_player_win_false, 'Away player' %>
          <%= f.radio_button(:home_player_win, false) %>
        </div>
      </div>
  </div>
  <div class="form-group">
    <%= f.label :looser_score, { class: 'col-sm-2 control-label' } %>
    <div class='col-sm-4'>
      <%= f.number_field :looser_score, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit(class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>