<!DOCTYPE html>
<html>
<head>
  <title>FoosballTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= notice %>
  <%= alert %>
</div>

<div id='login-header'>
  <% if current_operator %>
    Logged in as <%= current_operator.login %>.
    <%= link_to 'Log out', session_path('current'), method: 'delete' %>
  <% else %>
    <%= link_to 'Log in', new_session_path %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
